[submodule "Assets/Scripts/Libraries/BinarySerializer"]
	path = Assets/Scripts/Libraries/BinarySerializer
	url = https://github.com/BinarySerializer/BinarySerializer
[submodule "Assets/Scripts/Libraries/BinarySerializer.Image"]
	path = Assets/Scripts/Libraries/BinarySerializer.Image
	url = https://github.com/BinarySerializer/BinarySerializer.Image
[submodule "Assets/Scripts/Libraries/BinarySerializer.Ray1"]
	path = Assets/Scripts/Libraries/BinarySerializer.Ray1
	url = https://github.com/BinarySerializer/BinarySerializer.Ray1
[submodule "Assets/Scripts/Libraries/BinarySerializer.Klonoa"]
	path = Assets/Scripts/Libraries/BinarySerializer.Klonoa
	url = https://github.com/BinarySerializer/BinarySerializer.Klonoa
[submodule "Assets/Scripts/Libraries/BinarySerializer.Audio"]
	path = Assets/Scripts/Libraries/BinarySerializer.Audio
	url = https://github.com/BinarySerializer/BinarySerializer.Audio
[submodule "Assets/Scripts/Libraries/BinarySerializer.Nintendo"]
	path = Assets/Scripts/Libraries/BinarySerializer.Nintendo
	url = https://github.com/BinarySerializer/BinarySerializer.Nintendo
[submodule "Assets/Scripts/Libraries/BinarySerializer.Audio.GBA"]
	path = Assets/Scripts/Libraries/BinarySerializer.Audio.GBA
	url = https://github.com/BinarySerializer/BinarySerializer.Audio.GBA
[submodule "Assets/Plugins/psychoportal.unity"]
	path = Assets/Plugins/psychoportal.unity
	url = https://gitlab.com/scrunguscrungus/psychoportal.unity
[submodule "Assets/Scripts/Libraries/BinarySerializer.PlayStation"]
	path = Assets/Scripts/Libraries/BinarySerializer.PlayStation
	url = https://github.com/BinarySerializer/BinarySerializer.PlayStation
