[submodule "Assets/Scripts/Libraries/BinarySerializer"]
	path = Assets/Scripts/Libraries/BinarySerializer
	url = https://github.com/BinarySerializer/BinarySerializer
[submodule "Assets/Scripts/Libraries/BinarySerializer.Image"]
	path = Assets/Scripts/Libraries/BinarySerializer.Image
	url = https://github.com/BinarySerializer/BinarySerializer.Image
[submodule "Assets/Scripts/Libraries/BinarySerializer.Audio"]
	path = Assets/Scripts/Libraries/BinarySerializer.Audio
	url = https://github.com/BinarySerializer/BinarySerializer.Audio
[submodule "Assets/Scripts/Libraries/BinarySerializer.GBA"]
	path = Assets/Scripts/Libraries/BinarySerializer.GBA
	url = https://github.com/BinarySerializer/BinarySerializer.GBA
[submodule "Assets/Scripts/Libraries/BinarySerializer.GBA.Audio"]
	path = Assets/Scripts/Libraries/BinarySerializer.GBA.Audio
	url = https://github.com/BinarySerializer/BinarySerializer.GBA.Audio
[submodule "Assets/Scripts/Libraries/BinarySerializer.Ray1"]
	path = Assets/Scripts/Libraries/BinarySerializer.Ray1
	url = https://github.com/BinarySerializer/BinarySerializer.Ray1
[submodule "Assets/Scripts/Libraries/BinarySerializer.PS1"]
	path = Assets/Scripts/Libraries/BinarySerializer.PS1
	url = https://github.com/BinarySerializer/BinarySerializer.PS1
[submodule "Assets/Scripts/Libraries/BinarySerializer.Klonoa"]
	path = Assets/Scripts/Libraries/BinarySerializer.Klonoa
	url = https://github.com/BinarySerializer/BinarySerializer.Klonoa
[submodule "Assets/Scripts/Libraries/BinarySerializer.PS2"]
	path = Assets/Scripts/Libraries/BinarySerializer.PS2
	url = https://github.com/BinarySerializer/BinarySerializer.PS2
